#div1 {
    background-color: #9de49b;
    height: 200px;
    border: 2px solid;
    text-align: center;
    padding: 30px;
 }

 #div2 {
    background-color: rgb(236, 110, 131);
    height: 200px;
    border: 2px solid;
    text-align: center;
    padding: 30px;
    
 }

 #div3 {
    background-color:rgb(119, 119, 255) ;
    height: 200px;
    border: 2px solid;
    text-align: center;
    padding: 30px;
    
}

#div4 {
    background-color:rgb(201, 80, 212);
    height: 200px;
    border: 2px solid;
    text-align: center;
    padding: 30px;
    
}

.a{
    height: 50px;
    width: 50px;
    color:black;
    border:2px solid black;
    margin:0 auto;
    margin-top: 70px;

}
